.posts-wrapper{
    display: flex;
    justify-content: center;
    position: relative;
}

.posts-mini-wrapper{
    width: 400px;
    display: flex;
    flex-wrap: wrap;
}

.posts-owner-pic-wrapper{
    position: absolute;
    left: 150px;
    top: 100px;
}

.loading-posts{
    color: #2196F3;
    margin-top: 100px;
    font-size: 40px;
}

.posts-owner-pic{
    border-radius: 50%;
    border: 2px solid  #2196F3;
}

.posts-owner-name{
    color: #2196F3;
}

.homebtn-posts-wrapper{
    position: absolute;
    left: 80px;
    top: 20px;
}

.posts-mini-wrapper{
    margin-top: 100px;
    width: 800px;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    padding-top: 40px;
    background-color: white;
}

.posts-pic-wrapper{
    width: 200px;
    text-align: left;
}

.posts-pic{
    width: 100%;
    margin-bottom: 10px;
}

hr{
    border: 1px solid rgb(224, 217, 217);
}

.name-and-gender-wrapper{
    display: flex;
}

.posts-data-wrapper{
    padding-left: 20px;
    width: 400px;
    text-align: left;
    line-height: 1.4;
}

.posts-gender-wrapper{
    font-size: 16px;
    padding-top: 10px;
    padding-left: 10px;
}

.blue-color{
    color: #2196F3;
}