.post-wrapper{
    width: 600px;
    line-height: .8;
    margin-bottom: 40px;
    border: 2px solid #2196F3;
    border-radius: 15px;
}

.post-pic{
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.post-data-wrapper{
    text-align: left;
    padding-left: 30px;
}

.likes{
    font-size: 18px;
    color: #2196F3;
}

.post-date{
    color: grey;
    font-size: 10px;
}